#heading{
    display: flex;
    justify-content: center;
    color: darksalmon;
    background-color: darkolivegreen;

}
#calculator{
    
    border-width: 5px;
    border-style: solid;
    padding: 0%;
    display: flex;
    
    flex-direction: column;
}

#screen{
    height: 100px;
    width: 500px;
    display: flex;
    border-bottom-width: 7px;
    border-style: solid;
    background-color: honeydew;
}
#container{
    padding-top: 1%;
    display: flex;
    justify-content: center;
}
#symbol{
    width: 100%;
    height: 400px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: aqua;
}

#row1{
    
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#row2{
    
    height : 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
#row3{
    
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
#row4{
    
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#row5{
    
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.button{
    height: auto;
    width: 20%;
    background-color: rgb(104, 148, 230);
    font-size: x-large;
}
#del{
    height: auto;
    width: 40%;
    background-color: gray;
}
#ac{
    height: auto;
    width: 40%;
    background-color: red;
}
